@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Inverse text selection */
::selection {
    background-color: #ffffff;
    color: #0a0a0a;
}

/* White buttons style */
.btn-primary {
    background-color: white;
    color: black;
    border: none;
    transition: all 0.3s ease;
}

    .btn-primary:hover {
        background-color: #e5e5e5;
        transform: translateY(-1px);
    }

    .btn-primary:active {
        transform: translateY(0);
    }
